tensorflow # unityagents
Pillow
matplotlib
numpy
jupyter
pytest
docopt
pyyaml
protobuf
grpcio
--index-url https://download.pytorch.org/whl/cu124
torch
torchaudio
torchvision
pandas
scipy
ipykernel
gymnasium # [box2d]
swig
unityagents