tensorflow==2.21.0
pillow==12.3.0
matplotlib==3.11.1
numpy==2.5.2
jupyter==1.1.1
pytest==9.1.1
docopt==0.6.2
PyYAML==6.0.3
protobuf==3.20.3
grpcio==1.83.0
torch==2.13.0
pandas==3.0.5
scipy==1.18.0
ipykernel==7.3.0
gymnasium[Box2D]
swig